:root {
  --color-dark: #001524;
  --color-primary: #ff9002;
  --color-primaryDark: #e36313;
  --width-house: 200px;
}

body {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#house {
  position: relative;
}

#chimney {
  position: absolute;
  width: 27px;
  height: 50px;
  background-color: var(--color-primary);
  top: 33%;
  left: 15%;
}

#roof {
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  width: calc(var(--width-house) + 30px);
  height: 170px;
  background-color: var(--color-primary);
  position: relative;
}

#mainPart {
  background-color: var(--color-primary);
  height: 125px;
  width: var(--width-house);
  margin: auto;
  position: relative;
  margin-top: -1px;
}

#windows {
  width: 80%;
  height: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.window {
  width: 40%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.window__tile {
  background-color: var(--color-dark);
  width: 37%;
  height: 40%;
}

#door {
  background-color: var(--color-primaryDark);
  width: 40px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

#door::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--color-dark);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
}
