:root {
  --color-dark: #001524;
  --color-primary: #ff9002;
  --color-primaryDark: #e36313;
  --width-house: 200px;
}

body {
  background-color: var(--color-dark);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#house {
  position: relative;
}

#mainPart {
  background-color: var(--color-primary);
  height: 140px;
  width: var(--width-house);
  margin: auto;
  position: relative;
}

#roof {
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
  width: calc(var(--width-house) + 20px);
  height: 150px;
  background-color: var(--color-primary);
  position: relative;
}

#chimney {
  position: absolute;
  width: 25px;
  height: 60px;
  background-color: var(--color-primary);
  top: 30%;
  left: 15%;
}

#door {
  background-color: var(--color-primaryDark);
  width: 40px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
}

#door::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--color-dark);
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
}
